<amplify-poc-flex
  direction="column"
  justifyContent="flex-start"
  alignItems="stretch"
  alignContent="flex-start"
  wrap="nowrap"
  gap="1rem"
>
  <div *ngFor="let field of fieldStaticData['fields']">
    <amplify-phone-number-field-poc
      *ngIf="field == 'Phone'"
      describedBy="custom-aria-describedBy"
    >
      <input
        amplify-phone-number-input
        [placeholder]="field"
        name="phonenumber"
        label="phonenumber"
      />
    </amplify-phone-number-field-poc>

    <amplify-poc-text-field
      *ngIf="field == 'Username'"
      describedBy="custom-aria-describedBy"
    >
      <input
        amplify-input
        [placeholder]="field"
        name="username"
        label="username"
      />
    </amplify-poc-text-field>
    <amplify-password-poc
      *ngIf="field == 'Password'"
      describedBy="custom-aria-describedBy"
    >
      <input amplify-password-input [placeholder]="field" name="password" />
    </amplify-password-poc>
    <amplify-password-poc
      *ngIf="field == 'confirmpassword'"
      describedBy="custom-aria-describedBy"
    >
      <input
        amplify-password-input
        placeholder="Confirm Password"
        name="repassword"
      />
    </amplify-password-poc>
    <amplify-poc-text-field
      *ngIf="field == 'Email'"
      describedBy="custom-aria-describedBy"
    >
      <input amplify-input [placeholder]="field" name="Email" />
    </amplify-poc-text-field>
  </div>
</amplify-poc-flex>
