<amplify-poc-flex
  direction="column"
  justifyContent="flex-start"
  alignItems="stretch"
  alignContent="flex-start"
  wrap="nowrap"
  gap="1rem"
>
  <h1 *ngIf="title != ''">title</h1>
  <h4 *ngIf="description != ''">description</h4>
  <div *ngFor="let field of fieldStaticData">
    <amplify-poc-text-field
      *ngIf="field == 'phone'"
      describedBy="custom-aria-describedBy"
    >
      <input amplify-input [placeholder]="field" />
    </amplify-poc-text-field>

    <amplify-poc-text-field
      *ngIf="field == 'username'"
      describedBy="custom-aria-describedBy"
    >
      <input amplify-input [placeholder]="field" />
    </amplify-poc-text-field>
    <amplify-password-poc
      *ngIf="field == 'password'"
      describedBy="custom-aria-describedBy"
    >
      <input amplify-password-input [placeholder]="field" />
    </amplify-password-poc>
    <amplify-password-poc
      *ngIf="field == 'confirmpassword'"
      describedBy="custom-aria-describedBy"
    >
      <input amplify-password-input [placeholder]="field" />
    </amplify-password-poc>
    <amplify-poc-text-field
      *ngIf="field == 'email'"
      describedBy="custom-aria-describedBy"
    >
      <input amplify-input [placeholder]="field" />
    </amplify-poc-text-field>
  </div>
</amplify-poc-flex>
