<div data-amplify-authenticator>
  <div data-amplify-container>
    <div data-amplify-router style="display: block; box-sizing: border-box">
      <amplify-tabs>
        <amplify-tab-item title="Sign In">
          <form data-amplify-form>
            <div class="amplify-flex amplify-authenticator__column">
              <div class="amplify-flex amplify-authenticator__column">
                <amplify-poc-text-field describedBy="custom-aria-describedBy">
                  <input amplify-input placeholder="username" />
                </amplify-poc-text-field>
                <amplify-password-poc describedBy="custom-aria-describedBy">
                  <input amplify-password-input placeholder="Password" />
                </amplify-password-poc>
                <button amplify-button-poc variation="primary">Sign In</button>
              </div>
            </div>
          </form>
        </amplify-tab-item>
        <amplify-tab-item title="Create Account">
          <form data-amplify-form>
            <div class="amplify-flex amplify-authenticator__column">
              <div class="amplify-flex amplify-authenticator__column">
                <amplify-poc-text-field describedBy="custom-aria-describedBy">
                  <input amplify-input placeholder="username" />
                </amplify-poc-text-field>
                <amplify-password-poc describedBy="custom-aria-describedBy">
                  <input amplify-password-input placeholder="Password" />
                </amplify-password-poc>
                <amplify-password-poc describedBy="custom-aria-describedBy">
                  <input
                    amplify-password-input
                    placeholder="Confirm Password"
                  />
                </amplify-password-poc>
                <button amplify-button-poc variation="primary">
                  Create account
                </button>
              </div>
            </div>
          </form>
        </amplify-tab-item>
      </amplify-tabs>
    </div>
  </div>
</div>
